.about {
  width: 100%;
  min-width: 320px;
  height: auto;
  margin-top: 30px;
}
.about h2 {
  color: #e65100;
  font-size: 3rem;
  text-align: center;
}
.about p {
  color: #fff;
  margin-top: 30px;
  line-height: 1.5;
  font-size: 1.7rem;
  padding: 0 10px;
  text-align: center;
}