.about {
  width: 100%;
  min-width: 320px;
  height: auto;
  margin-top: 30px;
}
.about h2 {
  background-image: linear-gradient(to right top, #e65100, #e84a07, #eb430e, #ed3a14, #ef3019, #f1212e, #f21040, #f00050, #e40070, #c90092, #9900b4, #342ccf);
  -webkit-background-clip: text;
  color: transparent; 
  background-clip: text;  
  font-size: 4rem;
  font-family: 'Lucian', sans-serif;
  text-align: center;
}
.about p {
  color: #fff;
  margin-top: 30px;
  line-height: 1.5;
  font-size: 1.7rem;
  padding: 0 10px;
  text-align: center;
}


@media screen and (min-width: 1024px) {
  .about {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .about h2 {
    font-size: 5rem;
  }


  .about p {
    font-size: 2.5rem;
  }

  .about h2 {
    background-image: linear-gradient(to right top, #e65100, #e84a07, #eb430e, #ed3a14, #ef3019, #f1212e, #f21040, #f00050, #e40070, #c90092, #9900b4, #342ccf);
    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text;  
    font-size: 7rem;
    font-family: 'Lucian', sans-serif;
  }

}