.contact {
  width: 90%;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 90px;
  height: auto;
  padding-bottom: 100px;
  position: relative;
}

.contact h2 {
  background-image: linear-gradient(to right top, #e65100, #e84a07, #eb430e, #ed3a14, #ef3019, #f1212e, #f21040, #f00050, #e40070, #c90092, #9900b4, #342ccf);
  -webkit-background-clip: text;
  color: transparent; 
  background-clip: text;  
  font-size: 4rem;
  font-family: 'Lucian', sans-serif;
  text-align: center;
  text-align: center;
}

.contact .higtlights {
  color: #e65100;
}
.email {
  color: #fff;
}
.contact .mailAddress {
  color: #fff;
  font-size: 2rem;
  margin-left: 30px;
}

.contact a {
  color: #fff;
  text-decoration: none;
  font-size: 4rem;
}
.contact h3 {
  color: #fff;
  font-size: 1.5rem;
  padding-top: 20px;
}
.email {
  transform: scale(5);
}
.content {
  text-align: center;
}

.arrowAnimated {
  display: none;
}


@media screen and (min-width: 1024px) {
  .contact h2 {
    font-size: 5rem;
  }

  .contact h3 {
    font-size: 2.5rem;
    width: 50%;
    margin: 0 auto;
  }

  .contact h2 {
    background-image: linear-gradient(to right top, #e65100, #e84a07, #eb430e, #ed3a14, #ef3019, #f1212e, #f21040, #f00050, #e40070, #c90092, #9900b4, #342ccf);
    -webkit-background-clip: text;
    color: transparent; 
    background-clip: text;  
    font-size: 7rem;
    font-family: 'Lucian', sans-serif;
    text-align: center;
    text-align: center;
  }

}