.home {
  width: 100%;
  min-width: 320px;
  height: 80vh;
  padding-top: 100px;
  background-image: url('../../../assets/media/img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home h2 {
  text-align: center;
  color: #e0e0e0;
  font-family: 'Lucian', sans-serif;
  font-size: 4rem;
  background-color: #000;
  padding-top: 60px;
}
.home h2 .highlighted {
  color: #e65100;
}
.sidebar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}
.sidebar .sidebar__left {
  writing-mode: vertical-lr;
  height: inherit;
}
.sidebar__left .scroll {
  color: #9e9e9e;
  font-size: 1.7rem;
  position: absolute;
  right: 15px;
  bottom: 150px;
  animation: scroll infinite 5s linear;
}

.sidebar .sidebar__right {
  position: absolute;
  left:calc(50% - 100px);
  top:calc(50% - 100px);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.backgroundRotate {
background-image: linear-gradient(to right top, #e65100, #e84a07, #eb430e, #ed3a14, #ef3019, #f1212e, #f21040, #f00050, #e40070, #c90092, #9900b4, #342ccf);
border-radius: 50em;
border: 4px solid transparent;
width: 210px;
height: 210px;
left:calc(50% - 105px);
top:calc(50% - 105px);
position: absolute;
border-radius: 50%;
animation: rotate 1s infinite linear;
}
.sidebar .sidebar__right .myphoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
    color: #fff;
  }
  50% {
    transform: translateY(50%);
    color: #fff;
  }
  100% {
    transform: translateY(0%);
    color: #fff;
  }
}